<a href="https://colab.research.google.com/github/KIMBUMJU/kaggle/blob/main/Titanic_Survived.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES
# TO THE CORRECT LOCATION (/kaggle/input) IN YOUR NOTEBOOK,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

import os
import sys
from tempfile import NamedTemporaryFile
from urllib.request import urlopen
from urllib.parse import unquote, urlparse
from urllib.error import HTTPError
from zipfile import ZipFile
import tarfile
import shutil

CHUNK_SIZE = 40960
DATA_SOURCE_MAPPING = 'titanic:https%3A%2F%2Fstorage.googleapis.com%2Fkaggle-competitions-data%2Fkaggle-v2%2F3136%2F26502%2Fbundle%2Farchive.zip%3FX-Goog-Algorithm%3DGOOG4-RSA-SHA256%26X-Goog-Credential%3Dgcp-kaggle-com%2540kaggle-161607.iam.gserviceaccount.com%252F20240716%252Fauto%252Fstorage%252Fgoog4_request%26X-Goog-Date%3D20240716T055040Z%26X-Goog-Expires%3D259200%26X-Goog-SignedHeaders%3Dhost%26X-Goog-Signature%3D97f13d0cba28024bf027ebd1c1e1fc99ee2a212ed9e597778495b1ad6f1bde147468f6018adc35161825720bf98ae15c91fdaa6a05dbcfd3aa8a17f582f7e5eda0c089252b22c2879d39b99206a60adcc589b0558084d71c9528b1fd56b4ef829e079fb8461341c006d74c4bd35c7a2d1a38a8ff43e2d73b7d5c446788034c21078cd054eea31098821c491ed6049e197524513715991e94ceebc7fb02e98032a99b5f7bf886f0876e0b0fb65453a4a5b1ad8f765acc261d652ed3c72d0f88fa7c54715e311fd582b37fcd5cf2d6007ce352562b320898d14f4dc7da9bec0ca230ad9966588524b6146f8aa87c22f0c82f375721e87e05696d298d9eac6dc69f'

KAGGLE_INPUT_PATH='/kaggle/input'
KAGGLE_WORKING_PATH='/kaggle/working'
KAGGLE_SYMLINK='kaggle'

!umount /kaggle/input/ 2> /dev/null
shutil.rmtree('/kaggle/input', ignore_errors=True)
os.makedirs(KAGGLE_INPUT_PATH, 0o777, exist_ok=True)
os.makedirs(KAGGLE_WORKING_PATH, 0o777, exist_ok=True)

try:
  os.symlink(KAGGLE_INPUT_PATH, os.path.join("..", 'input'), target_is_directory=True)
except FileExistsError:
  pass
try:
  os.symlink(KAGGLE_WORKING_PATH, os.path.join("..", 'working'), target_is_directory=True)
except FileExistsError:
  pass

for data_source_mapping in DATA_SOURCE_MAPPING.split(','):
    directory, download_url_encoded = data_source_mapping.split(':')
    download_url = unquote(download_url_encoded)
    filename = urlparse(download_url).path
    destination_path = os.path.join(KAGGLE_INPUT_PATH, directory)
    try:
        with urlopen(download_url) as fileres, NamedTemporaryFile() as tfile:
            total_length = fileres.headers['content-length']
            print(f'Downloading {directory}, {total_length} bytes compressed')
            dl = 0
            data = fileres.read(CHUNK_SIZE)
            while len(data) > 0:
                dl += len(data)
                tfile.write(data)
                done = int(50 * dl / int(total_length))
                sys.stdout.write(f"\r[{'=' * done}{' ' * (50-done)}] {dl} bytes downloaded")
                sys.stdout.flush()
                data = fileres.read(CHUNK_SIZE)
            if filename.endswith('.zip'):
              with ZipFile(tfile) as zfile:
                zfile.extractall(destination_path)
            else:
              with tarfile.open(tfile.name) as tarfile:
                tarfile.extractall(destination_path)
            print(f'\nDownloaded and uncompressed: {directory}')
    except HTTPError as e:
        print(f'Failed to load (likely expired) {download_url} to path {destination_path}')
        continue
    except OSError as e:
        print(f'Failed to load {download_url} to path {destination_path}')
        continue

print('Data source import complete.')

Downloading titanic, 34877 bytes compressed
[==================================================] 34877 bytes downloaded
Downloaded and uncompressed: titanic
Data source import complete.

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/train.csv

In [3]:
# 필요한 라이브러리 import
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

# 경고문 출력 무시
import warnings
warnings.filterwarnings('ignore')

In [4]:
# 훈련, 테스트 데이터셋 변수에 담아줌
df_train = pd.read_csv("/kaggle/input/titanic/train.csv")
df_test = pd.read_csv("/kaggle/input/titanic/test.csv")
df_gender_submission = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")

In [5]:
# df_train 데이터셋 상위 5개 데이터
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# df_test 데이터셋 상위 5개 데이터
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
# df_train, df_test 데이터셋의 형태 파악
print(df_train.shape)
print(df_test.shape)

# df_train: 12개 columns, 891개 rows
# df_test: 11개 columns, 418개 rows

(891, 12)
(418, 11)

In [8]:
# df_trian 데이터셋의 정보
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
# df_test 데이터셋의 정보
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [10]:
# 사망률 예측에 필요하지 않다고 판단되는 columns 제거
df_train = df_train.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)
df_test = df_test.drop(["Name", "Ticket", "Cabin"], axis=1)

In [11]:
# 갱신된 df_train 데이터셋의 정보
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [12]:
# 갱신된 df_test 데이터셋의 정보
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         417 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [13]:
# df_train의 결측치 합
df_train.isnull().sum()

# Age 특성에 177개, Embarked 특성에 2개의 결측치

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [14]:
# df_test의 결측치 합
df_test.isnull().sum()

# Age 특성에 86개, Fare 특성에 1개의 결측치

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [15]:
# df_train 데이터셋의 결측치 있는 row 제거
df_train = df_train.dropna(subset=['Embarked', 'Age'])

In [16]:
# 갱신된 df_train의 결측치 합
df_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [17]:
# df_test 데이터셋의 결측치 있는 row 제거
df_test.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [18]:
# df_gender_submission 데이터셋의 정보
df_gender_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [19]:
# 결측치 최빈값으로 fil 하는 imputer 생성
imputer = SimpleImputer(strategy="most_frequent")

# imputer 적용
df_test['Age'] = imputer.fit_transform(df_test[['Age']]).flatten()
df_test['Fare'] = imputer.fit_transform(df_test[['Fare']]).flatten()

In [20]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [21]:
df_test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [22]:
# 타겟 변수를 제거한 train 데이터셋 생성
X = df_train.drop(["Survived"], axis=1)

In [23]:
# 타겟 변수 저장
y = df_train['Survived']

In [24]:
X

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
885       3  female  39.0      0      5  29.1250        Q
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[712 rows x 7 columns]

In [25]:
y

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 712, dtype: int64

In [26]:
# 문자열을 숫자로 인코딩 해줌
# 간편하게 구현 가능한 Label encoding 사용
def Sex2Num(sex):
    if sex=="male":
        result = 1
    if sex=="female":
        result = 2
    return result

def Embarked2Num(port):
    if port == 'C':
        result = 1
    elif port == 'Q':
        result = 2
    else:
        result = 3
    return result

In [27]:
# 위에서 구현한 함수를 통해 인코딩 적용
X['Sex'] = X['Sex'].apply(Sex2Num)
X['Embarked'] = X['Embarked'].apply(Embarked2Num)

df_test['Sex'] = df_test['Sex'].apply(Sex2Num)
df_test['Embarked'] = df_test['Embarked'].apply(Embarked2Num)

In [28]:
X

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    1  22.0      1      0   7.2500         3
1         1    2  38.0      1      0  71.2833         1
2         3    2  26.0      0      0   7.9250         3
3         1    2  35.0      1      0  53.1000         3
4         3    1  35.0      0      0   8.0500         3
..      ...  ...   ...    ...    ...      ...       ...
885       3    2  39.0      0      5  29.1250         2
886       2    1  27.0      0      0  13.0000         3
887       1    2  19.0      0      0  30.0000         3
889       1    1  26.0      0      0  30.0000         1
890       3    1  32.0      0      0   7.7500         2

[712 rows x 7 columns]

In [29]:
y = pd.DataFrame(y)

In [30]:
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
885         0
886         0
887         1
889         1
890         0

[712 rows x 1 columns]

In [31]:
# train 데이터셋과 valid 데이터셋으로 나눔
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.3, random_state = 5)

# 성능이 좋은 xgboost를 사용하여 검증. 손실 함수는 logloss
# 그 후 모델 훈련 시작
model = XGBClassifier(eval_metric = 'logloss')
model.fit(X_train, y_train)

# 훈련된 모델을 사용하여 x 검증 데이터를 통해 예측값과 실제 결과값의 정확도 판별
predictions = model.predict(X_val)
accuracy = accuracy_score(y_val, predictions)

print(round(accuracy*100, 2))

79.44

In [32]:
df_gender_submission.shape

(418, 2)

In [33]:
df_test.shape

(418, 8)

In [34]:
df_test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292         2
1          893       3    2  47.0      1      0   7.0000         3
2          894       2    1  62.0      0      0   9.6875         2
3          895       3    1  27.0      0      0   8.6625         3
4          896       3    2  22.0      1      1  12.2875         3

In [35]:
df_test_PId = df_test["PassengerId"]
df_test = df_test.drop(["PassengerId"], axis=1)
real_predictions = model.predict(df_test)


output = pd.DataFrame({'PassengerId': df_test_PId, 'Survived': real_predictions})

In [36]:
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [37]:
output.shape

(418, 2)

In [38]:
df_gender_submission.shape

(418, 2)